*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}
.btn-primary{
    padding: 15px 24px;
    background-color: #FF5959;
    color: #FFFF;
    border: none;
    font-weight: 500;
    font-size: 20px;
    border-radius: 5px;
}
/*header styles*/
.header{
    background-image: url(../images/donation9.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
    text-align: center;
    padding-top: 180px;
    z-index: 0.4;
}
.title{
    font-weight: 700;
    font-size: 70px;
    color: rgb(223, 247, 6);
}
.sub-title{
    font-weight: 700;
    font-size: 70px;
    color: #FFFF;
}
.description{
    font-weight: 500;
    font-size: 20px;
    color: #FFFF;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 20px;
}
/*donate today*/
.donate-description{
    text-align: center;
    color: rgb(51, 52, 53);
    margin-bottom: 50px;
}
.donate-title{
    text-align: center;
    margin-top: 100px;
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 50px;
    color: rgb(17, 11, 4);
}
.tk-poriman{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    margin-bottom: 30px;
}
.box{
    background-color: #FF5959;
    border-radius: 5px;
    padding: 30px 20px;
    font-weight: 700;
    font-size: 20px;
   
}
.Donate-today .h2{
    text-align: center;
    color: #B3B3B3;
    margin-bottom: 5px;
}
.Donate-today button{
    margin-left: 42%;
    margin-top: 15px;

}
/*donate-plan styles*/
.donate-divbox{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    max-width: 1170px;
    margin: 10px auto;
}
.donate-box{
    padding: 50px 10px;
}
.donate-box img{
    margin-bottom: 50px;
}
.donate-box h1{
    margin-bottom: 20px;
}
#box1{
    background: rgba(79, 157, 166, 0.1);
    border-radius: 5px;
}
#box2{
    background: rgba(255, 89, 89, 0.1);
    border-radius: 5px;
}
#box3{
    background: #eec0c0;
    border-radius: 5px;
}
